[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dostats"]
	path = dostats
	url = https://github.com/halpo/dostats
[submodule "orthogonalsplinebasis"]
	path = orthogonalsplinebasis
	url = https://github.com/halpo/obsplines
[submodule "wingui"]
	path = wingui
	url = https://github.com/halpo/wingui
